.mycontainer{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: black;
    position: relative;
    overflow: hidden;
    transform: rotate(-45deg);
    margin-left: 7px;
}

.absolute{
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 25px;
    color: black;
    /* transform: translateY(20px); */
}

.glyph-icon{
    font-size: 20px;
    color: white;
    margin-top: 0.4rem;
}

#flat-slider{
    /* margin-top: 100px; */
    width: 20%;
    margin: 100px auto;
}

#flat-slider.ui-slider {
    background: #d5cebc;
    border: none;
    border-radius: 0; }
                      
    #flat-slider.ui-slider .ui-slider-handle {
      width: 35px;
      height: 35px;
      border-radius: 50% 50% 0;
      border-color: transparent;
      transition: border 0.4s ease; }
                      
      /* #flat-slider.ui-slider .ui-slider-handle.ui-state-hover, 
      #flat-slider.ui-slider .ui-slider-handle.ui-state-focus, 
      #flat-slider.ui-slider .ui-slider-handle.ui-state-active {
        border-color: #172f38; } */
                      
    #flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
      background: #d5cebc;
      transition: all 0.4s ease; }
                      
    #flat-slider.ui-slider.ui-slider-horizontal {
      height: 6px; }
                      
      #flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
        -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
        top: -50px;
        margin-left: -20px; }
                      
      #flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
        top: 10px; }
                      
        #flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
          width: 2px;
          height: 10px;
          margin-left: -1px; }
                      
        #flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
          height: 20px; }
                      
        #flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
          height: 12px; }
                      
    #flat-slider.ui-slider.ui-slider-vertical {
      width: 6px;
      height: 125px;
      display: inline-block;
      margin: 0 15%; }
                      
      #flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle {
        -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
        left: -25px;
        margin-bottom: -10px; }
                      
      #flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip {
        left: 10px; }
                      
        #flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
          height: 2px;
          width: 10px;
          margin-top: -1px; }
                      
        #flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
          width: 20px; }
                      
        #flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
          width: 12px; }
                      
        #flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
        #flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
          visibility: visible;
          opacity: 1;
          border: none;
          background: transparent;
          left: 50%;
          width: 30px;
          margin-left: -15px;
          text-align: center;
          color: white;
          font-weight: normal;
          top: 10px;
          -webkit-transform: rotateZ(45deg);
                  transform: rotateZ(45deg); }
                      
          #flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
          #flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
            display: none; }
                      
  #flat-slider .ui-slider-handle,
  #flat-slider .ui-slider-range,
  #flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
  #flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background: #25daa5 !important; }